<form>
  <div class="form-group">
  <label>Student Name </label>
  <input #StudName id="name" type="text" class="form-control">

</div>
 <br>
<div class="form-group">
  <label>Gender </label>
  <input #Gender id="gender" type="text" value="Female(F) , Male(M)" class="form-control">
</div>
<br>
<div class="form-group">
  <label>Mobile No. </label>
  <input #MNo id="MoNumber" class="form-control">
  
</div>
<br>
<div class="form-group">
  <label>College Name </label>
  <input #clgName id="clgName" type="text" class="form-control">
  
</div>
<br>
<div class="form-group">
  <label>Email Id </label>
  <input #email id="email" type="text" class="form-control">
</div>
<br>
<div class="form-group">
  <label>Batch Name </label>
  <input #bName id="bName" type="text" class="form-control">

</div>
</form>


<div>
  <button class="btn btn primary" (click)="getData(StudName.value,Gender.value,MNo.value,clgName.value,email.value,bName.value)">Submit</button>
</div>